################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/course-code/Code/Section 3/BookStoreApp/.vs/BookStoreApp/v15/Server/sqlite3/db.lock
